body {
    background-color: #222;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    font-size: 15px;
    color: #eee;
}

footer {
    border-top: 1px solid #111;
    padding: 8px;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.5px;
}
footer a {
    color: #eee;
}
header {
    margin: 0 -15px 0 -15px;
    background: url(headerbg.png) repeat-x;
    /*border-top: 6px solid {{ theme_headerbordercolor }};*/
    border-top: 6px solid violet;
}

.related {
    border-bottom: 1px solid #111;
    background: url(navigation.png);
    margin: 0 -15px 0 -15px;
    padding: 2px 20px 0 28px;
    line-height: 25px;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}

.related a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
}

.related a:hover {
    text-decoration: underline;
}

.main {
    background-color: white;
    color: #111;
    border-bottom: 1px solid black;
    background: url(watermark.png) center 0;
    padding: 0 15px 0 15px;
    margin: 0;
}